.ngx-fixed-scrollbar-content {
  overflow-x: hidden;
}

.scrollbar-wrapper {
  overflow-x: auto;
}

.scrollbar-inner {
  padding: 5px 0;
}

.slim-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.slim-scrollbar::-webkit-scrollbar-track {
  background: rgb(221, 220, 220);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.slim-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
