.simple-table {
  min-width: 996px;
  border-collapse: collapse;
  thead tr th {
    position: relative;
  }
  .column-title {
    width: 80%;
    margin: auto;
  }
}

.checkbox-column {
  text-align: center;
  width: 30px;
}

.no-items {
  padding: 5px;
  text-align: center;
  background-color: #e3ebf1;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.sort {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0px;
  font-weight: bold;
  font-size: 16px;
  padding: 0 5px;
}

.fixed-header-wrapper {
  display: none;
  position: fixed;
  top: 0;
  z-index: 3;
  overflow-x: hidden;
}

.fixed-header-inner {
  display: flex;
}

.simple-table {
  width: 100%;
}

.fixed-header-column {
  position: relative;
}

.fixed-bottom-center {
  position: fixed;
  bottom: 15px;
  width: 100%;
}

.select-all-wrapper {
  width: 350px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  margin: auto;
  text-align: center;
  background-color: white;
}

.link {
  color: #6eb6ec;
  cursor: pointer;
}

.column-selector {
  font-size: 20px;
  position: relative;
  span {
    cursor: pointer;
  }
  .column-selector-dropdown-menu {
    font-size: 12px;
    position: absolute;
    right: 1px;
    top: 25px;
    min-width: 80px;
    box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 5;
  }
  .column-selector-dropdown-item {
    padding: 3px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
  }
  .column-selector-dropdown-item:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
  .column-selector-dropdown-item + .column-selector-dropdown-item {
    border-top: 1px solid #ccc;
  }
}

.text-right {
  text-align: right;
}

.text-green {
  color: rgb(16, 150, 16);
}
