.ngx-simple-table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  margin: 5px 0;
  > div:first-child,
  > div:last-child {
    width: 30%;
  }
  .page-size-selector {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }
}

ul li.pitem {
  list-style: none;
}

.page-numbers {
  ul {
    display: flex;
    margin: 0;
    column-gap: 5px;
    justify-content: flex-end;
  }
  .pitem {
    list-style: none;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  .pitem:hover {
    background-color: whitesmoke;
  }
  .pitem.active-page {
    cursor: unset;
    background-color: whitesmoke;
  }
}
