<h3>Simple Usage</h3>
<p>
  The table has basic features: pagination, check item, check all items in a
  page, check all items in all pages, fixed header, fixed scrollbar, resizable
  columns
</p>
<ngx-simple-table
  [config]="simpleTableConfig"
  [data]="data"
  [tableChecked]="tableChecked"
  [totalRecord]="pagination.totalRecord"
  [currentPage]="pagination.currentPage"
  [pageSize]="pagination.pageSize"
  (onChangePaginator)="onChangePaginator($event)"
>
</ngx-simple-table>
<div class="margin"></div>
